<launch>
    <node pkg="realsense2_driver" type="realsense2_driver" name="realsense2_driver" />
    <node pkg="border_lingang" type="border_lingang_node" name="border_lingang_node" output="screen"/>
<!--    <node pkg="controlturn" type="controlturn_node" name="controlturn_node" output="screen"/>-->

<!--    <node pkg="controldis" type="controldis_node" name="controldis_node" output="screen"/>-->
<!--    <node pkg="rosbag" type="record" name="bag_record" args="-a -o /home/yangzt/catkin_ws/lingangOK02.bag"/>-->
</launch>